<div class="navbar">
    <ul class="nav-menu">
      <!-- <li *ngFor="let menu of menus">{{ menu }}</li> -->
      <li>
        SMARTPHONES
        <ul class="sub-menu">
          <li *ngFor="let s of smartphones">{{ s }}</li>
        </ul>
      </li>
  
      <!-- <div class="sub-menu">
          <ul class="sub-menu">
            <li *ngFor="let s of smartphones">{{ s }}</li>
          </ul>
        </div> -->
  
      <li>
        ELECTRONICS & APPLIANCES
        <div class="sub-menu">
          <div class="mega-menu">
            <div class="mega-col">
              <h2>Home Appliances</h2>
              <ul>
                <li *ngFor="let h of HomeAppliances">{{ h }}</li>
              </ul>
            </div>
  
            <div class="mega-col">
              <h2>KitchenAppliances</h2>
              <ul>
                <li *ngFor="let h of HomeAppliances">{{ h }}</li>
              </ul>
            </div>
          </div>
  
          <!-- <div class="mega-menu">
            <div>
              <h2>KitchenAppliances</h2>
              <ul>
                <li *ngFor="let h of HomeAppliances">{{ h }}</li>
              </ul>
            </div>
          </div> -->
        </div>
        <!-- <ul class="sub-menu">
          <li>
            Home Appliances
            <ul>
              <li *ngFor="let h of HomeAppliances">{{ h }}</li>
            </ul>
          </li>
  
          <li>
            KitchenAppliances
            <ul>
              <li *ngFor="let k of KitchenAppliances">{{ k }}</li>
            </ul>
          </li>
        </ul> -->
      </li>
  
      <!-- <div class="sub-menu">
          <ul class="sub-menu">
            <div class="home">
              <ul>
                <h3>Home Appliances</h3>
                <li *ngFor="let h of HomeAppliances">{{ h }}</li>
              </ul>
            </div>
            <div class="kichen">
              <ul>
                <h3>KitchenAppliances</h3> 
                <li *ngFor="let k of KitchenAppliances">{{ k }}</li>
              </ul>
            </div>
          </ul>
        </div> -->
  
      <!-- <li>
        MOBILE ACCESSORIES
        <div class="sub-menu">
          <ul class="double-col">
            <li *ngFor="let m1 of MobileAccessories1">{{ m1 }}</li>
            <li *ngFor="let m2 of MobileAccessories2">{{ m2 }}</li>
          </ul>
        </div>
        <ul class="sub-menu">
          <li *ngFor="let m of MobileAccessories">{{ m }}</li>
        </ul>
      </li> -->
  
      <li>
        MOBILE ACCESSORIES
        <div class="sub-menu">
          <div class="double-col">
            <div>
              <ul><li *ngFor="let m1 of MobileAccessories1">{{ m1 }}</li></ul>
            </div>
    
            <div>
              <ul>
                <li *ngFor="let m2 of MobileAccessories2">{{ m2 }}</li>
              </ul>
            </div>
          </div>    
        </div>
      </li>
  
      <!-- <div class="sub-menu">
          <ul class="sub-menu">
            <li *ngFor="let m of MobileAccessories">{{ m }}</li>
          </ul>
        </div> -->
  
      <li>COMPUTER & ACCESSORIES</li>
  
      <li>LIFESTYLE</li>
    </ul>
  </div>